@font-face {
    font-family: 'HestinaFontbyKeithzo';
    src: url('../fonts/HestinaFontbyKeithzo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Signatra';
    src: url('../fonts/Signatra.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

::selection {
    background: #ff5a76;
    color: white;
}

::-moz-selection {
    background: #ff5a76;
    color: white;
}



.main-div {
    width: 100vw;
    height: 100vh;
}


/* landingPage Styles */

.landing-page {
    width: 100%;
    height: 100%;
    background-image: url('..//images/landing-page-wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.his-her-name-row-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 61vh
}

.his-her-name-row {
    background: rgba(255, 202, 212, 0.22);
    border-color: #ff5d8f;
    width: 63%;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.01);
    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.names-input-div {
    display: flex;
}

.landing-page-text {
    color: #ffcad4;
    font-family: "HestinaFontbyKeithzo";
    font-size: 1.6rem;
    margin-top: 10px;
    margin-right: 7px;
    margin-bottom: 5px;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.his-her-name-input {
    width: 150px;
    height: 35px;
    background: rgba(255, 202, 212, 0.22);
    border-color: #ff5d8f;
    color: #ffd7de;
    font-weight: 600;
    font-family: "HestinaFontbyKeithzo";
    font-size: 1rem;
    letter-spacing: 1px;
    margin-top: 8px;
}

:where(.his-her-name-input, .email-inputs).ant-input-outlined:hover,
.ant-input-outlined:focus {
    background: rgba(255, 202, 212, 0.22);
    border-color: #ff5d8f;
}

.landing-enter-btn-col {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px
}

.landing-page-btn {
    border-radius: 50px;
    height: 40px;
    width: 40px;
    background-color: #ffcad4;
    border-color: #FF5A76;
    color: #FF5A76;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:focus {
    outline: none;
}

svg {
    fill: #FF5A76;
}

:where(.landing-page-btn:hover).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: #ffcad4;
    border-color: #FF5A76;
}

.ant-message .ant-message-notice-wrapper .ant-message-notice-content {
    background: rgba(255, 202, 212, 0.22);
    border-radius: 20px;
    color: #ffcad4;
    font-family: "Signatra";
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 9px 16px 7px 12px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.01);
}






/* DateAsking Page Styles */


.date-asking-page {
    background-image: url('..//images/common-wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100vw;
    height: 99.9vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-div {
    background: rgba(255, 202, 212, 0.22);
    width: 30%;
    height: 400px;
    min-width: 400px;
    border-radius: 30px;
    padding: 10px 20px 20px;
    font-family: "Signatra";
    font-size: 2rem;
    letter-spacing: 1px;
}

.will-you-go-on-a-date-with-me-text {
    margin: 10px;
    color: #ffcad4
}

.her-name-span {
    font-family: "HestinaFontbyKeithzo";
    font-size: 1.5rem
}

.cupid-images-div {
    width: 69%;
    height: 80%;
    display: flex;
    margin: 0 auto;
    border-radius: 15px
}

.cupid-images {
    border-radius: 15px
}

.yes-btn {
    background-color: #ff5a76;
    color: white;
    margin-top: 15px;
    padding: 11px 30px 13px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}

.no-btn {
    background-color: #ff5a76;
    color: white;
    margin-top: 15px;
    padding: 13px 30px 11px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

:where(.yes-btn).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: #ff5a76;
    color: white;
    margin-top: 15px;
    padding: 11px 30px 13px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}

:where(.no-btn).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: #ff5a76;
    color: white;
    margin-top: 15px;
    padding: 13px 30px 11px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.date-ask-modal-no-btn {
    background-color: white;
    border-color: #ff5a76;
    color: #ff5a76;
    padding: 6px 16px 3px;
    border-radius: 20px;
}

.date-ask-modal-yes-btn {
    background-color: #ff5a76;
    border-color: #ff5a76;
    color: white;
    padding: 6px 16px 11px;
    border-radius: 20px
}

:where(.do-you-really-love-me-modal).ant-modal .ant-modal-footer {
    text-align: end;
    background: transparent;
    margin-top: 20px;
    padding: 0;
    border-top: none;
    border-radius: 0;
}

.ant-modal .ant-modal-title {
    margin: 0;
    background-color: #ffcad4;
    color: #FF5A76;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.do-you-wanna-go-out-with-me-text {
    font-size: 2rem;
    margin: 10px 0px 5px;
}



/* Calendar Page Styles */

.calendar-page {
    background-image: url('..//images/common-wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100vw;
    height: 99.9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo-calendar-row {
    background: rgba(255, 202, 212, 0.22);
    margin: 0 auto;
    border-radius: 30px;
    padding: 20px;
    width: 69vw;
    /* height: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.calendar-date-image {
    width: 100%;
    height: 100%;
    border-radius: 20px
}

.calendar-text {
    width: 130%;
    color: #ffcad4;
    font-family: "Signatra";
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin: 5px 0px;
}

.calendar-page-btn {
    width: 160px;
    padding: 9px 10px 12px 21px;
    margin-top: 10px;
    background-color: #f4788d;
    color: white;
    border-radius: 20px;
    border: none
}

.email-inputs {
    background: rgba(255, 202, 212, 0.22);
    border-color: #ff5d8f;
    color: #ff5d8f;
    font-weight: 600;
    font-family: "HestinaFontbyKeithzo";
    font-size: 1rem;
    letter-spacing: 1px;
}

.date-calendar .ant-select-dropdown {
    box-sizing: border-box;
    margin: 0;
    padding: 4px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    position: absolute;
    top: -9999px;
    z-index: 1050;
    overflow: hidden;
    font-variant: initial;
    background-color: pink;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.ant-select-dropdown .ant-select-item {
    color: #ff4d4f;
}

.ant-picker-calendar .ant-picker-content th {
    color: #ff4d4f;
}

.ant-picker-calendar .ant-picker-cell-in-view {
    color: #ff4d4f;
}

.date-calendar .ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: white;
    font-weight: 600;
    background-color: #f4788d;
}

:where(.calendar-page-btn).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: #f4788d;
    color: white;
}

.ant-picker-calendar-mini {
    border-radius: 18px;
}

.ant-picker-calendar-mini .ant-picker-calendar-header {
    border-radius: 18px 18px 0px 0px;
    background-color: #ffcad4;
}

.ant-picker-calendar-mini .ant-picker-panel {
    border-radius: 0 0 24px 24px;
}

.ant-picker-calendar .ant-picker-panel .ant-picker-body {
    border-radius: 0px 0px 18px 18px;
    background-color: #ffcad4;
}

.ant-picker-calendar .ant-picker-cell-in-view.ant-picker-cell-selected:not(.ant-picker-cell-disabled) .ant-picker-cell-inner {
    color: white;
    background-color: #FF5A76;
}

.ant-picker-calendar .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    /* background-color: #FF5A76; */
    border: 0px solid #ffcad4;
    color: white;
}

.ant-picker-calendar .ant-select-arrow svg {
    fill: white;
    width: 14px;
    height: 14px;
}

.ant-picker-calendar .ant-select-arrow svg {
    transition: transform 0.3s;
}

.ant-picker-calendar .ant-select-open .ant-select-arrow svg {
    transform: rotate(180deg);
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    color: white;
    background-color: #FF5A76;
    border: 0px solid #ffcad4;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    z-index: 1;
    color: white;
    background: #ff5a76;
    border: 0px solid #ffcad4;
}

.ant-btn-variant-outlined {
    font-family: "Signatra";
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.ant-radio-button-wrapper {
    color: white;
    font-size: 14px;
    line-height: 30px;
    background: #ff5a76;
    border: 0px solid #ffcad4;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: white;
}

.ant-radio-button-wrapper:hover {
    color: white;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
    color: white;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active::before {
    background-color: white;
}

.ant-select-single.ant-select-sm.ant-select-open .ant-select-selection-item {
    color: white
}

.ant-modal .ant-modal-title {
    font-weight: 600;
    font-size: 1.5rem;
}

.email-input-label {
    font-size: 1.2rem;
}

.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
    background: #ffcad4;
    border-width: 1px;
    border-style: solid;
    border-color: #ff4d4f;
}

.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled):hover {
    border-color: #ff4d4f;
    background-color: #ffcad4;
}


.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled):focus {
    border-color: #ff4d4f;
    background-color: #ffcad4;
}

.ant-modal .ant-modal-content {
    position: relative;
    background-color: #ffcad4;
    color: #FF5A76;
    background-clip: padding-box;
    border: 0;
    border-radius: 25px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    pointer-events: auto;
    padding: 20px 24px;
    font-family: "Signatra";
}

.ant-btn-variant-solid {
    color: #fff;
    background: #ff5a76;
    border-radius: 20px;
    padding: 8px 30px;
}

.ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):hover {
    background: #ff5a76;
    color: #fff;
    border-radius: 20px;
    padding: 8px 30px;
}


.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    color: white;
    border-color: white;
}


/* responsive code starts here */

/* Extra small (phones) */
@media (max-width: 575px) and (max-height: 700px) {

    .landing-page {
        background-position: calc(54% + 25px) center;
    }

    .his-her-name-row-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 46vh
    }

    .his-her-name-row {
        width: 90%;
        padding: 20px 10px 10px;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
    }

    .landing-page-text {
        font-size: 1rem;
        margin-right: 0px;
        margin-top: 7px;
        text-align: start;
    }

    .names-input-div {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }

    .names-input-div:last-child {
        margin-top: 10px;
    }

    .his-her-name-input {
        width: 96.7%;
        margin-left: -1px;
        height: 35px;
        font-size: 1rem;
        letter-spacing: 1px;
    }

    .landing-enter-btn {
        margin-top: 10px;
        margin-bottom: 3px;
    }

    .alert-message {
        font-size: 1.2rem;
        letter-spacing: 1px;
    }

    .ant-message .ant-message-notice-wrapper .ant-message-notice-content {
        font-size: 1rem;
        letter-spacing: 2px;
        padding: 9px 16px 7px 12px;
    }



    /* date-asking-page */

    .text-div {
        background: rgba(255, 202, 212, 0.22);
        min-width: 320px;
        padding: 0px 10px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .cupid-images-div {
        width: 100%;
        height: 80%;
        display: flex;
        margin: 0 auto;
        border-radius: 15px;
    }


    .cupid-images {
        border-radius: 21px
    }


    .will-you-go-on-a-date-with-me-text {
        font-size: 1.2rem;
        margin: 4px 1px -2px;
    }

    .ant-modal .ant-modal-content {
        pointer-events: auto;
        padding: 20px 15px;
        width: 90%;
        margin: 0 auto;
    }

    .do-you-wanna-go-out-with-me-text {
        font-size: 1rem;
    }

    .date-ask-modal-no-btn {
        padding: 6px 16px 3px;
        border-radius: 20px;
        font-size: 1rem;
    }

    .date-ask-modal-yes-btn {
        padding: 6px 16px 8px;
        border-radius: 20px;
        font-size: 1rem;
    }




    /* calendar-page */

    .photo-calendar-row {
        padding: 10px 10px;
        width: 90vw;
        height: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .calendar-text {
        width: 100%;
        color: #ffcad4;
        font-family: "Signatra";
        font-size: 1.2rem;
        letter-spacing: 2px;
        margin: -10px 0px 10px;
    }

    .ant-picker-calendar {
        height: 300px;
        overflow-y: auto;
        scrollbar-width: none;
    }

    .ant-picker-cell {
        padding: 2px !important;
        font-size: 12px;
    }

    .ant-picker-calendar-header {
        font-size: 14px;
        padding: 4px 8px;
    }

    .responsive-calendar {
        height: 300px;
    }

    .calendar-page-btn {
        width: 120px;
        padding: 9px 10px 12px 21px;
        margin-top: 10px;
        background-color: #f4788d;
        color: white;
        border-radius: 20px;
        border: none;
        font-size: 1rem;
    }

    :where(.calendar-page-btn).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
        background-color: #f4788d;
        color: white;
    }


    :where(.calendar-page-btn-alert-message) .ant-message .ant-message-notice-wrapper .ant-message-notice-content {
        color: #ff5d8f;
        font-size: 16px;
        border-radius: 12px;
        background: #fff0f5;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
}

/* Small (phones) */
@media (max-width: 575px) and (min-height: 701px) {

    .landing-page {
        background-position: calc(54% + 25px) center;
    }

    .his-her-name-row-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 50vh
    }

    .his-her-name-row {
        width: 91%;
        padding: 24px 10px 16px;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
    }

    .landing-page-text {
        font-size: 1rem;
        margin-right: 0px;
        margin-top: 7px;
        text-align: start;

    }

    .names-input-div {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }

    .names-input-div:last-child {
        margin-top: 10px;
    }

    .his-her-name-input {
        width: 96.7%;
        margin-left: -1px;
        height: 35px;
        font-size: 1rem;
        letter-spacing: 1px;
    }

    .landing-enter-btn-col {
        margin-top: 15px;
        margin-bottom: 3px;
    }

    .alert-message {
        font-size: 1.2rem;
        letter-spacing: 1px;
    }

    .ant-message .ant-message-notice-wrapper .ant-message-notice-content {
        font-size: 1rem;
        letter-spacing: 2px;
        padding: 9px 16px 7px 12px;
    }



    /* date-asking-page */

    .text-div {
        background: rgba(255, 202, 212, 0.22);
        min-width: 320px;
        padding: 0px 10px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .cupid-images-div {
        width: 100%;
        height: 80%;
        display: flex;
        margin: 0 auto;
        border-radius: 15px;
    }

    .cupid-images {
        border-radius: 21px
    }

    .will-you-go-on-a-date-with-me-text {
        font-size: 1.2rem;
        margin: 4px 1px -2px;
    }

    .ant-modal .ant-modal-content {
        pointer-events: auto;
        padding: 20px 15px;
        width: 90%;
        margin: 0 auto;
    }

    .do-you-wanna-go-out-with-me-text {
        font-size: 1rem;
    }

    .date-ask-modal-no-btn {
        padding: 6px 16px 3px;
        border-radius: 20px;
        font-size: 1rem;
    }

    .date-ask-modal-yes-btn {
        padding: 6px 16px 8px;
        border-radius: 20px;
        font-size: 1rem;
    }



    /* calendar-page */

    .photo-calendar-row {
        padding: 10px 10px;
        width: 90vw;
        height: 76%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .calendar-text {
        width: 100%;
        color: #ffcad4;
        font-family: "Signatra";
        font-size: 1.2rem;
        letter-spacing: 2px;
        margin: -10px 0px 10px;
    }

    .responsive-calendar {
        height: 300px;
    }

    .calendar-page-btn {
        width: 120px;
        padding: 9px 10px 12px 21px;
        margin-top: 10px;
        background-color: #f4788d;
        color: white;
        border-radius: 20px;
        border: none;
        font-size: 1rem;
    }

    .ant-picker-calendar {
        /* height: 300px; */
        overflow-y: auto;
        scrollbar-width: none;
    }

    .ant-picker-cell {
        padding: 2px !important;
        font-size: 12px;
    }

    .ant-picker-calendar-header {
        font-size: 14px;
        padding: 4px 8px;
    }

    :where(.calendar-page-btn).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
        background-color: #f4788d;
        color: white;
    }

    :where(.calendar-page-btn-alert-message) .ant-message .ant-message-notice-wrapper .ant-message-notice-content {
        color: #ff5d8f;
        font-size: 16px;
        border-radius: 12px;
        background: #fff0f5;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
}

/* Medium (tablets) */
@media (min-width: 768px) and (max-width: 991px) {}

/* Large (laptops) */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Extra large (desktops) */
@media (min-width: 1200px) and (max-width: 1399px) {}

/* Extra extra large (big screens) */
@media (min-width: 1400px) {}